In [29]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import precision_recall_fscore_support
from sklearn.metrics import r2_score

In [3]:
df = pd.read_csv('housing.csv')
df.head()

      RM  LSTAT  PTRATIO      MEDV
0  6.575   4.98     15.3  504000.0
1  6.421   9.14     17.8  453600.0
2  7.185   4.03     17.8  728700.0
3  6.998   2.94     18.7  701400.0
4  7.147   5.33     18.7  760200.0

In [4]:
df.shape

(489, 4)

In [5]:
df

        RM  LSTAT  PTRATIO      MEDV
0    6.575   4.98     15.3  504000.0
1    6.421   9.14     17.8  453600.0
2    7.185   4.03     17.8  728700.0
3    6.998   2.94     18.7  701400.0
4    7.147   5.33     18.7  760200.0
..     ...    ...      ...       ...
484  6.593   9.67     21.0  470400.0
485  6.120   9.08     21.0  432600.0
486  6.976   5.64     21.0  501900.0
487  6.794   6.48     21.0  462000.0
488  6.030   7.88     21.0  249900.0

[489 rows x 4 columns]

In [6]:
df.nunique()

RM         430
LSTAT      442
PTRATIO     44
MEDV       228
dtype: int64

In [7]:
df1 = df.dropna()

In [8]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 489 entries, 0 to 488
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   RM       489 non-null    float64
 1   LSTAT    489 non-null    float64
 2   PTRATIO  489 non-null    float64
 3   MEDV     489 non-null    float64
dtypes: float64(4)
memory usage: 15.4 KB

In [9]:
x = df1.drop(['MEDV'],axis=1)
y = df1['MEDV']

In [18]:
x_train, x_test, y_train, y_test = train_test_split(x,y,random_state=104, test_size=0.25, shuffle=True)

In [19]:
model = LinearRegression()

In [20]:
model.fit(x_train,y_train)

LinearRegression()

In [21]:
predictions = model.predict(x_test)

In [22]:
predictions

array([645864.51693187, 409799.21102524, 486779.10113316, 500605.17291153,
       454394.61229649, 410466.3764514 ,  44902.04116823, 414408.31688363,
       451970.25173324, 318325.21514246, 757693.36338808, 359333.02747819,
       427191.92880942, 434524.878657  , 470028.81444351, 429178.74784482,
       410697.09444875, 261673.42083687, 359869.41454918, 538678.62006183,
       397666.4951463 , 399004.0906857 , 514357.03481019, 457902.87462792,
       506336.43321191, 361553.95907507, 640505.55267136, 240133.71366403,
       487142.24927963, 513789.05807519, 517575.02299081,  56054.96125835,
       404126.84609639, 326959.84454342, 619745.65870388, 457601.19289042,
       212886.14744286, 376308.4400315 , 713931.75527649, 387933.23425506,
       392999.98043439, 379697.64897171, 320284.92433941, 532599.49153147,
       551437.45065959, 488723.07380844, 509497.502224  , 599909.56763197,
       352102.01261835, 409223.9076289 , 563512.94412144, 276293.28338095,
       558845.56264503, 384736.22529201, 385807.42937509, 644327.19465758,
       593597.87363272, 271016.16166999, 581057.72151617, 388698.65908055,
       275603.22104634, 313671.64480486, 744528.72251075, 417885.15055513,
       439831.28213151, 352609.49989283, 296531.91040059, 512322.43364413,
       270450.05382365, 683380.68052733, 478795.27599564, 441599.26329595,
       417304.48382702, 347286.81879647, 446936.85492128, 336325.59467833,
       297955.15380807, 573308.48931878, 685285.50244579, 287470.28772932,
       551021.41164398, 447945.95363414, 502345.78919613, 411305.51318458,
       718903.65903639, 368382.64979077, 494384.70198088, 138760.85711659,
       515909.25308115, 481911.09108028, 372371.5122825 , 356183.73771487,
       338913.12588361, 596680.47872486, 648718.73132632, 417255.34545898,
       305000.25487766, 389692.66913572, 258879.15299695, 488983.16575633,
       408412.923418  , 343445.12607735, 680199.50756134, 763915.12636991,
       306180.70227441, 390271.68326271, 264767.13916988, 228189.96660308,
       569874.51753834, 510783.11315467, 404704.51569321, 634710.42060407,
       448460.90815558, 736181.41793288, 458818.39271783, 206168.85101757,
       420483.26475661, 326081.77072799, 683132.41401744, 344182.70791888,
       358024.06403255, 521825.57151942, 249034.38729293])

In [23]:
model.score(x_test, y_test)

0.6797383018690059

In [24]:
len(x_test)

123

In [25]:
len(predictions)

123

In [32]:
r2_score(y_test,predictions)

0.6797383018690059